body{
    background-image: url("https://raw.githubusercontent.com/HenriqueEstudante/pensamentoComputacional1a/main/background.png");
    background-size: auto;
}


.titulo{
    margin-top: 10%;
}

.ilustracao{
    width: 50%;
    margin-left: 24%;
}

.texto{
    color: #000000;
}

.logo {
    width: 25%; 
    margin-left: 37%;
}

h1{
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
}

em {
    color: #af0000;
}

.imagem {
    width: 100%;
}
